<?nextrec?>
<?definegroup 1 “=$author$="?>
<?ifendgroup 1 ?>

<?include "../includes/back-to-top.html" ?>

	</main>

<?include "../includes/footer.html" ?>

</body>
</html>
<?ifnewgroup 1 ?>
<?output "../../web/authors/=$author&f$=.html"?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
	<title>Author: =$author$=</title>
	<meta name="description" content='Information about the author =$author$=' />
<?include "../includes/head-links.html" ?>
</head>
<body>

<?include "../includes/header.html" ?>

	<nav id="main-nav">
		<ul>
			<li>
				<a href="../index.html">
					Home
				</a>
			</li>
			<li>
				<a href="../lists/index.html">
					Lists
				</a>
			</li>
			<li>
				<a href="../models/index.html">
					Models
				</a>
			</li>
			<li class="nav-current">
				<a href="../authors/index.html">
					Quotes
				</a>
			</li>
			<li>
				<a href="../topics/index.html">
					Topics
				</a>
			</li>
			<li>
				<a href="../search.html">
					Search
				</a>
			</li>
		</ul>
	</nav>

	<main>

		<h1>Author: =$author$=</h1>

<?include "../includes-gen/author-=$author&f$=.html" ?>

		<h2>Quotations</h2>

<?endif?>

		<hr />

		<h3>=$title$=</h3>
		
		<p class="tags-align">=$tags&gtopics/;tag-link$=</p>

		<blockquote>
			=$body&o$=
		</blockquote>

<?if "=$worktitle$=" ?>
<?if "=$worktitle$=" ne "unknown" ?>
		<p>From
<?if =$worktype$= ?>
		the =$worktype&l$=
<?endif?>
		<cite>
<?if "=$worklink$=" ?>
			<a href="=$worklink$=">
<?endif?>
				=$worktitle$=
<?if "=$worklink$=" ?>
			</a>
<?endif?>
			</cite>
		</p>
<?endif?>
<?endif?>
<?if "=$date$=" ?>
		<p>&mdash; =$date$=</p>
<?endif?>

		<p class="perma-link">
			<a href="../quotes/=$title&f$=.html">
				Permalink for Quote
			</a>
		</p>

<?loop?>
